<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/Imgs/Afro's & Curls.png" alt="Site Logo" width="120" height="90">
        </a>
    </div>
</nav>