.signIn-btn {
    color: grey;
    background-color: white !important;

    border: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: grey
}

.signIn-btn.btn {
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar-nav a.nav-link,
.navbar-nav div.dropdown .btn:hover {
    transition: all .4s ease-in-out;
}

.navbar-nav a.nav-link:hover,
.navbar-nav div.dropdown .btn:hover {
    color: black;
}

.social-signIn .btn {
    color: #0d1216;
    transition: all .15s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: .5rem;
    text-align: left;
    /* background: white; */


}

/* .social-signIn button:hover {
    background-color: red;
} */

.social-logo {
    width: 1.5rem;

}

footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.body {
    /* height: 50rem; */
    background-color: rgb(238, 212, 207);

}


.pride {
    width: 5rem;
}

.logout,
.login {
    margin: 20px 0;
}

h1 {
    margin: 7rem auto 0 auto;
    width: 9rem;
}

.login-overlay {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url('../Imgs/shop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.signIn {
    width: 30rem;
    border-radius: 2rem;
    background: red;
    padding: 2rem 2rem;
    background: #F5F5F5;
    margin-top: 7rem;
}

.signIn .btn-light {
    width: 15rem;
    margin: auto;
    transition: all .6s ease-in-out;
    background-color: white !important;
}

.signIn .btn-light:hover {
    background-color: #d3d3d3 !important;
}

.cta-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.cta:visited,
.cta {
    width: 5rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.image-container {
    width: 60vw;
}

.image-container img {
    width: 100%;
}

#layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3rem;
    margin: 3rem 0;
}

.booking-btn {
    height: 5rem;
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#best-styles img {
    height: 600px;
}

#best-styles {
    width: 30vw;
    border-radius: 5px;
    /* background-color: rgb(238, 212, 207); */
    margin: 0 auto;
    padding: 4rem 0;
}

.caro-img-container img {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-caption h5,
.carousel-caption p {
    color: rgb(238, 212, 207);
}


.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: rgb(238, 212, 207);
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: initial;
    font-size: 3rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery {

    background-color: rgb(238, 212, 207);
    padding: 10rem 0;
}

.gallery-card img {
    width: 100%;
    border-radius: 3rem;
    transition: all .4s ease-in-out;
    width: 400px;
    height: 400px;
}

.gallery-card img:hover {
    opacity: .6;
}

.gallery-card {
    width: 25rem;
    border-radius: 3rem;
    cursor: pointer;
    background-color: black;
    transition: all .4s ease-in-out;
}

.gallery-card:hover {
    box-shadow: 0px 14px 21px 1px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 14px 21px 1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 14px 21px 1px rgba(0, 0, 0, 0.53);
}


.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.gallery h3 {
    text-align: left;
    margin-left: 10rem;
    margin-bottom: 10rem;
    font-size: 6rem;

}