<%- include('../partials/header_signed_in_ms')%>
    <section class="body">
        <h1>Appointments</h1>

        <div id="layout">
            <section class="image-container">
                <img src="/Imgs/appointmentWoman.png" alt="Cartoon appointment Img">
            </section>
            <a href="https://afros-curls.mailchimpsites.com/book-online" class="btn booking-btn btn-dark">Book Now!</a>
        </div>

    </section>


    <%- include('../partials/footerwithmapms')%>